/*@media queries for editor 

Syntax: @media devicename and (expression){
    property updates
}

expression: such as max-width or min-width
devicename: it could be tv or screen(screen relates to ipad, phone, laptop, etc)
*/

@media screen and (max-width: 400px) and (max-width: 450px ) {
    body{
        width: 100%;
    }

    .tabs {
        width: auto;
        height: 15vh;
        background: linear-gradient(to bottom right, #e0edf5, #9bc5fb);
    }

    .righttabs {
        float: left;
}

.editor {
    width: 100%;
    height: 80vh;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.output {
    width: 100%;
    height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: pre;
    box-shadow: 1px 2px 2px 2px grey;
    border: 2px solid gray;
}
}


@media  screen and (max-width: 400px) {
    .righttabs {
        margin: 5px 0;
}
}