.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px;
}

h1{
  text-align: center;
}

.topic{
  border: 1px solid grey;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 2px 2px 2px 1px gray;
  margin: 10px
}

.topic:hover{
  background-color: rgb(190, 187, 187);
  box-shadow: 2px 2px 2px 1px black;
  transition: .3s transform ease-out;
  /* box-shadow: 0 0 0 2px linear-gradient(to right, gray); */

  
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-link {
  color: #61dafb;
}

.route{
  
}

